<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Table:</strong>
  <%= @student.table %>
</p>

<p>
  <strong>Favorite subject:</strong>
  <%= @student.favorite_subject %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
